.projectSelectDiv {
    border: 2px solid white;
    border-radius: 8px;
}

form {
    display: flex;
    /* justify-content: space-between; */
    gap: 18px;
    align-items: center;
    height: 3rem;
}

#projectAddBtn {
    border: none;
    width: 24px;
    height: 24px;
    font-weight: 900;
    /* height: ; */
}

#projectAddBtn:hover {
    background-color: greenyellow;
}