.projectSelectDiv {
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 80px;
}

#projectForm {
    display: flex;
    /* justify-content: space-between; */
    gap: 18px;
    align-items: center;
    height: 3rem;
    flex-grow: 1;
    margin-left: 12px;
    /* border: 1px solid yellow; */
}

#projects {
    height: 40px;
    flex-grow: 1;
}

#projectAddBtn {
    height: 40px;
    width: 80px;
    background-color: greenyellow;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

#projectAddBtn:hover {
    background-color: green;
}

#projectDeleteBtn {
    margin-right: 12px;
    height: 40px;
    width: 80px;
    background-color: red;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}