img {
    height: 80px;
    width: 80px;
}

#plusIconDiv {
    height: 80px;
    /* border: 1px solid black; */
    border-radius: 4px;
    text-align: center;
    background-color: rgb(57, 111, 111);
}

