.taskDiv {
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

#taskDone {
    margin: 0px 0px 0px 4px;
}

#taskTitle {
    /* margin-left: 15px; */
    /* max-width: 600px; */
    /* border: 1px solid white; */
    flex-grow: 4;
}

#taskDateP {
    width: 130px;
    /* border: 1px solid white; */
    text-align: center;
}

#taskPriP {
    width: 100px;
    /* border: 1px solid white; */
    text-align: center;
}

.buttons {
    height: 40px;
    width: 80px;
    background-color: greenyellow;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

#taskEdit {
    background-color: greenyellow;
}

#taskDel {
    margin-right: 15px;
    background-color: red;
}