#firstFormDiv {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* border: 2px solid yellow; */
    height: 80px;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 8;
}

#title {
    height: 40px;
    /* width: 400px; */
    border: none;
    margin-left: 15px;
    border-radius: 4px;
    /* font-size: 24px; */
    flex-grow: 4;
}

#taskDate {
    height: 40px;
    border-radius: 4px;
    border: none;
    /* font-size: 24px; */
    /* flex-grow: 1; */
}

#priority {
    height: 40px;
    border: none;
    border-radius: 4px;
    /* flex-grow: 1; */
}

#addBtn {
    height: 40px;
    width: 80px;
    background-color: greenyellow;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

#cancelBtn {
    height: 40px;
    width: 80px;
    margin-right: 15px;
    background-color: red;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}