img {
    height: 80px;
    width: 80px;
}

#plusIconDiv {
    height: 80px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    /* background-color: rgb(57, 111, 111); */
}

